/* body {
    background-color: #FFCA3A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
}
.pizza3{
    float: right;
    position: absolute;
    right: 15px; 
}  

.pizza{
    border: 1px solid gainsboro;
    padding: 1em;
    margin: 1em;
    margin-left: 0;
    margin-bottom: 0.5em;
    border-radius: 1em;
    height: 25em;

}

.medium_pizza { 
    background-color: #FF595E;
}
.large_pizza img{
    float: right;
}
.large_pizza #content{
    clear: both;
}
.large_pizza {
    background-color: #6A4C93;
}

.small_pizza {
    background-color: #1982C4;
}

.contact_us {
    background-color: #BAC926;
    height: 10em;
}
.footer_left {
    float: left;
    padding-left: 2em;
}
.footer_right {
    float: right;
    padding-right: 2em;
}
@media(min-width:960px){
    .pizzas {
        display: flex;
    }
    .footer_left {
        float: left;
        padding-left: 5em;
    }
    .footer_right {
        float: right;
        padding-right: 25em;
    }
} */
body {
    background-color: #FFCA3A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}
h1 {
    text-align: center;
}
.header{
    background-color: #BAC926;
}
.small img { width: 4em; }

.medium img { width: 5em; }

.large img { width: 7em; }

.pizza{
    border: 1px solid gainsboro;
    padding: 1em;
    margin: 1em;
    margin-left: 0;
    margin-bottom: 0.5em;
    border-radius: 1em;
}
.specials {
    display: flex;
    grid-row: 0;
}
.large {
    background-color: #6A4C93;
    flex-grow: 2;
}

.medium {
    background-color: #1982C4;
}

.small {
    background-color: #1982C4;
    flex-grow: 2;
}

.footer {
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #BAC926;
    height: 10em;
}
.contact {
    float: left;
    margin: auto;
    padding: auto;
}
.address {
    float: right;
    margin: auto;
    padding: auto;
}